<html>
<head>
<script src="html2canvas.min.js"></script>
<script src="FileSaver.js"></script>
<script>
   var inited = false;
   
   function goNext() {
         window.location.href = "http://localhost:8000/${next}";
   }
   
   function saveImg(blob) {
         saveAs(blob, "${o}" );
//         alert("fffffffff");
         inited = true;
   }
   
   function nop() {
      console.log("wait");
   }
</script>
<style>

html, body {
    margin: 0;
    padding: 0;
    #height: 100%;
    background-color: black;

}

.leftDiv1 {
   width:100%;
   display: inline-block;
   align-self: flex-end;
   background-color: black;
}

.leftImg {
   width:100%
}

.leftDiv {
   #width: ${anim} ;
   #height: ${h} ;
   float:left;
   overflow:hidden;
   display: flex;
   flex-shrink:0;
   background-color: black;
}

.rightDiv {
   width:100%;
   #height: ${h} ;
   float:left;
   overflow:hidden;
   display: flex;
   background-color: black;
}
.rightDiv1 {
   width:100%;
   display: inline-block;
   align-self: flex-start;
   background-color: black;
}
.middleImg{
   height:100%;
   flex-shrink:0;
   
}

</style>
<script>

</script>
<meta charset="UTF-8" />
<!--link href='${main_css}' rel="stylesheet" type="text/css" /-->
<title>A3</title>
</head>
<body>

<div style="width:${w}px;height:${h}px;overflow:hidden;display:flex;">

<div style="width: ${anim} ;height: ${h}px ;" class=leftDiv >
   <div class=leftDiv1 >
<img class=leftImg src="${page1}" >
<img class=leftImg src="${page2}" >
<img class=leftImg src="${page3}" >
<img class=leftImg src="${page4}" >
<img class=leftImg src="${page5}" >
   </div>
</div>


<img class=middleImg src="${page6}" >

<div style="height: ${h}px ;" class=rightDiv >
   <div class=rightDiv1 >
<img class=leftImg src="${page6}" >
<img class=leftImg src="${page7}" >
<img class=leftImg src="${page8}" >
<img class=leftImg src="${page9}" >
<img class=leftImg src="${page10}" >
   </div>
</div>


</div>

<script>
   html2canvas(document.body).then(function(canvas) {
      canvas.toBlob(function(blob) {
            
            saveImg(blob);
            
            do { setTimeout(nop, 250); }
            while(!inited);
            
//            setTimeout(goNext, 250);
         
      //   window.location.href = "http://localhost:8000/${next}";
      });
   });
</script>

</body>
</html>
