<html>
<head>
<script src="html2canvas.min.js"></script>
<script src="FileSaver.js"></script>
<script>
   var inited = false;
   
   function goNext() {
         window.location.href = "http://localhost:8000/${next}";
   }
   
   function saveImg(blob) {
         saveAs(blob, "${o}" );
//         alert("fffffffff");
         inited = true;
   }
   
   function nop() {
      console.log("wait");
   }
</script>
<style>

html, body {
    margin: 0;
    padding: 0;
    #height: 100%;
    background-color: black;
    #background-image: url(' ${page} ');
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.crop{
	float:right;
	margin:0px 0px 0px 0;
	overflow:hidden; /* this is important */
	position:relative; /* this is important too */
	border:0px solid;
	width:100%;
	#height:1080px;
   display:inline-block
	}
.crop img{
	position:relative;
	top: 0px ;
	left:0px;
   width:100%;
	}

.leftImg {
   height: 100% ;
   flex-shrink:0;
   visibility: hidden;
}

</style>
<script>

</script>
<meta charset="UTF-8" />
<!--link href='${main_css}' rel="stylesheet" type="text/css" /-->
<title>A4</title>
</head>
<body style="background-image: url(' ${page} ');">

<div style="width:${w}px;height:${h}px;overflow:hidden;display:flex;">
   
<img style="height:${anim}" class=leftImg src="${page}">



<div class=crop>
<img style="top: ${anim1}" src="${page}" >
</div>



</div>

<script>
   html2canvas(document.body).then(function(canvas) {
      canvas.toBlob(function(blob) {
            
            saveImg(blob);
            
            do { setTimeout(nop, 250); }
            while(!inited);
            
//            setTimeout(goNext, 250);
         
      //   window.location.href = "http://localhost:8000/${next}";
      });
   });
</script>

</body>
</html>
