<html>
<head>
<script src="html2canvas.min.js"></script>
<script src="FileSaver.js"></script>
<script>
   var inited = false;
   
   function goNext() {
         window.location.href = "http://localhost:8000/${next}";
   }
   
   function saveImg(blob) {
         saveAs(blob, "${o}" );
//         alert("fffffffff");
         inited = true;
   }
   
   function nop() {
      console.log("wait");
   }
</script>
<style>
html, body {
  margin: 0;
  padding: 0;
  #height: 100%;
  background-color:black;
}
.crop{
	float:left;
	margin:0px 0px 0px 0;
	overflow:hidden; /* this is important */
	position:relative; /* this is important too */
	border:0px solid;
	#width: ${w} ;
	#height: ${h} ;
	}
.crop img{
	position:absolute;
	top: 0px ;
	left:0px;
   width:200%;
	}

</style>
<script>

</script>
<meta charset="UTF-8" />
<!--link href='${main_css}' rel="stylesheet" type="text/css" /-->
<title>A6</title>
</head>
<body>


<div style="width: ${w}; height: ${h};" class=crop>
<img style="top: ${anim}" src="${page}" >
</div>

<script>
   html2canvas(document.body).then(function(canvas) {
      canvas.toBlob(function(blob) {
            
            saveImg(blob);
            
            do { setTimeout(nop, 250); }
            while(!inited);
            
//            setTimeout(goNext, 250);
         
      //   window.location.href = "http://localhost:8000/${next}";
      });
   });
</script>

</body>
</html>
